// --------------------------------------------------
// Application header
// --------------------------------------------------

header {
	width:100%;
	position:fixed;
	top:0px;
	height:59px;
	background:url('../assets/images/header_gradient.png') no-repeat top left;
	border-bottom:1px solid $accent_yellow_light;

	.brand {
		display:block;
		width:120px;
		height:59px;
                margin-left: 12px;
		background:url('../assets/images/logo_inner.png') transparent no-repeat left;
		float:left;
		outline:none;
	}
        
        .service-status {
            float: left;
            margin-left: 64px;
            margin-top: 24px;
            font-size: 12px;
            
            #node {
                float:left;
                color: $primary_blue_dark;
                font-family: arial;
            }
            
            #serviceStatus{
                font-family: arial;
                float: left;
                margin-left: 8px;
            }
        }

	.top-nav {
		width:60%;
		float:right;
		margin:2px 0 0 0;

		.user-info {
			float:right;
			margin:10px 25px 0 0;

			h1 {
			    text-align: right;
			    color: $accent_yellow;
			    font-size: 19pt;
			    font-weight: bold;
			    font-family: arial;
			    line-height: 19pt;
			    margin: auto;
                            margin-top: 6px;
			    display: block;
			    float: left;
			    padding-right:10px;
			    border-right:1px solid $primary_master_light_silver4;
			}

			div {
			    margin: 2px 0px 0px 10px;
			    float: left;
			    color:$primary_blue_light;
			    font-family:arial;
			    font-size:0.8em;
			    line-height:12pt;

			    a {
			    	color:$primary_blue_dark;
			    	font-weight:bold;
			    	text-decoration:none;

			    	&:hover{
			    		color: $primary_blue_dark;
			    		text-decoration:none;
                                        cursor: default;
			    	}
			    }
			}
		}

		.right-links {
			float:right;
			margin: 6px 0 0 0;

			a{
				display:block;
				float:right;
				width:44px;
				height:44px;
				background 	:$iconsprite transparent no-repeat top left;
				@include transition(0.3s);
			}
			& .lnk-home{
				background-position:0px -96px;
				margin-right:15px;
			}
			& .lnk-home:hover{
				background-position:0px -134px;
			}
			& .lnk-logout{
				background-position:-45px -96px;
				margin-right:15px;
			}
			& .lnk-logout:hover{
				background-position:-45px -134px;
			}
		}
	}
}
//End