// --------------------------------------------------
// Application form controllers
// --------------------------------------------------

	.form-label{
		font-family:arial;
		font-size:0.8em;
		color:$primary_blue_dark;
		text-align:left;
	}

	.required {
		font-family:arial;
		font-size:1em;
		color:$required_red;
		font-weight:bold;		
	}

	.txt-input, .ddl-input {
		padding:4px 10px;
		display:block;
		float:left;
		outline:none;
		border:1px solid $secondary_blue_dark;
                border-radius: 6px;
		background:$white;
		color:$primary_blue_dark;
		font-family:arial;
		font-size:0.8em;
	}

	.btn {
		padding:4px 10px;
		font-family:arial;
		font-size:0.74em;
		color:$white;
		text-transform:uppercase;
		outline:none;
		margin:0px 4px 0px 0px;
                border-radius: 6px;

		&.default-button{
			background:$primary_blue_light;
			border:1px solid $dark_blue_variant2;

			&:hover, &:focus{
    			background:$dark_blue_variant1;
    			border:1px solid $dark_blue_variant2;
    		}
		}

		&.reset-button{
                        color:$primary_blue_dark;
			background:$secondary_blue_light;
			border:1px solid $secondary_blue_dark;
			
			&:hover, &:focus{
    			background:$secondary_blue_dark;
    			border:1px solid $primary_blue_light;
    		}
		}
	}
        
        
        .btn-wrap {
            position: relative;
            display: inline-block;
            
            i{
                position: absolute;
                z-index: 1;
                color: #fff;
                left: 6px;
                top: 4px;
            }
            
            input {
                padding: 4px 10px 4px 25px;
            }
          
        }
        
        .form-field{
            .btn {
                margin: 0px 0px 0px 16px;
            }
        }
	.width-35{
		width:35%;
	}
	.width-39{
		width:39%;
	}
        
        .inline-fields {
                font-family: arial;
                font-size: 0.8em;
                color: $primary_blue_dark;
                text-align: left;
                display: inline-block;
                float: left;
                padding: 4px;
        }
//End

.move-items .inline-fields {
    width: 46px;
    .btn.default-button {
        width: 40px;
        margin: 3px;
    }
}

.form-field.move-items select {
    width: 33.4%;
}