// --------------------------------------------------
// Application inner pages
// --------------------------------------------------
&.innerpage{
	.breadcrumb{
		font-family:arial;
		font-size:0.8em;
		color:$primary_blue_light;
	    width: 99%;
	    float: left;
	    margin: 8px 0px 4px 8px;
	    text-transform:uppercase;

	    i{
	    	font-weight:bold;
	    	padding:0 5px;
	    }

	    .active {
	    	color:$primary_blue_dark;
	    }
	}

	h1.page-title{
		font-family:arial;
		font-size:1.25em;
		color:$primary_blue_dark;
		font-weight:bold;
	    width: 99%;
	    float: left;
	    margin: 8px 0px 4px 8px;
	    font-weight: 100;

	    .lnk-back {
	    	@include transition(0.5s);
	    	display:inline-block;
	    	float:right;
	    	border:1px solid $dark_blue_variant2 ;
/*	    	background:$primary_blue_light ;*/
	    	padding:6px 10px;
	    	text-transform:uppercase;
	    	text-decoration:none;
	    	font-size:0.55em;
	    	font-weight:100;
	    	color:$dark_blue_variant2;
	    	margin:2px;
                border-radius: 6px;

	    	i {
	    		@include transition(0.3s);
	    		padding:0px 2px 0px 0px;
	    	}

	    	&:hover {
				color:$dark_blue_variant2;
                                background: $secondary_blue_light ;
				border:1px solid  $dark_blue_variant2;
				i {
	    			padding:0px 6px 0px 0px;
	    		}
			}
	    }
	}

	.content-section{
		width:99%;
		/*min-height:150px;*/
		margin:5px;
		border:1px solid $secondary_blue_light;
                border-radius:4px; 
		background:$white;
		display:block;
		float:left;
		padding: 0px 0px 10px 0px;
                
                @import "darknight_grid.scss";

		.content-data {
			width:98%;
			margin:10px;

			.section-title {
				width:100%;
				margin:0px 0px 25px 0px;
				color:$primary_blue_dark;
				font-size:0.85em;
				text-transform:uppercase;
				float:left;	
				font-weight:100;
				font-family:arial;
			}
                        
                        .legends-grid{
				display:block;
				margin:0px 0px 10px 0px;
				padding:0;
				color:$primary_blue_dark;
				font-family:arial;
				font-size:0.76em;

				li{

					display:inline-block;
					float:left;
					margin:0px 20px 5px 0px;

					span {
						width:10px;
						height:10px;
						border-radius:50%;
						display:inline-block;
						margin:0px 3px 0px 0px;

						&.item-red{
							background-color:red;
						}

						&.item-green{
							background-color:green;
						}
						
						&.item-yellow{
							background-color:yellow;
						}

						&.item-blue{
							background-color:blue;
						}

						&.item-pink{
							background-color:pink;
						}

						&.item-orange{
							background-color:orange;
						}
					}
				}
			}

			.msg-panel {
				width:100%;
				margin:0px 0px 5px 0px;
				font-family:arial;
				font-size:0.8em;
				float:left;
				display:none;

				&.errormsg{
					background:#FFBFBF;
					color:$form_error_icon;

					i{
						color:$form_error_icon;
						font-weight:bold;
						padding:2px 5px;
						font-size:1.3em;
					}
				}

				&.successmsg{
					background:#BFFFBF;
					color:$form_success_icon;

					i{
						color:$form_success_icon;
						font-weight:bold;
						padding:4px 8px;
						font-size:1.3em;
					}
				}
				label {
					display:block;
					float:left;
					width:20%;
                                        margin-right: 5px;
				}

				div{
					display:block;
					float:left;
					width:75%;
					margin:3px 0px;
				}
			}

			.d-row {
				width:100%;
				margin:3px 0px;
				float:left;

				&.cpanel {
					margin:8px 0px 3px 0px;
				}

				.left-col {
					display:block;
					float:left;
					width:20%;
					margin:5px 5px 0px 0px;
				}

				.right-col{
					display:block;
					float:left;
					width:75%;
				}

				.col-1{
					width:17%;
					margin:0px 5px 0px 0px;
					float:left;
				}

				.col-2{
					width:30%;
					margin:0px 5px 0px 0px;
					float:left;
				}

				.col-3{
					width:17%;
					margin:0px 5px 0px 0px;
					float:left;
				}

				.col-4{
					width:30%;
					margin:0;
					float:left;
					margin:0px 5px 0px 0px;
				}

				@media screen and (min-width: 1220px) {
				    .col-1{
						width:17%;
						margin:0px 5px 0px 0px;
						float:left;
					}

					.col-2{
						width:23%;
						margin:0px 5px 0px 0px;
						float:left;
					}

					.col-3{
						width:17%;
						margin:0px 5px 0px 0px;
						float:left;
					}

					.col-4{
						width:23%;
						margin:0;
						float:left;
						margin:0px 5px 0px 0px;
					}

					.col-2, .col-4{
						input[type='text'], select {
							width:70%;
						}
					}
				}

				@media screen and (max-width: 1200px) and (min-width: 980px) {
				    .col-1{
						width:20%;
						margin:0px 5px 0px 0px;
						float:left;
					}

					.col-2{
						width:28%;
						margin:0px 5px 0px 0px;
						float:left;
					}

					.col-3{
						width:20;
						margin:0px 5px 0px 0px;
						float:left;
					}

					.col-4{
						width:28%;
						margin:0;
						float:left;
						margin:0px 5px 0px 0px;
					}	

					.col-2, .col-4{
						input[type='text'], select{
							width:85%;
						}	
					}
						   
				}

				&.four-col{
					border-top:1px solid $primary_master_light_silver2;
					padding: 5px 0px 0px 0px;
				}

				@import "darknight_forms.scss";
			}
		}

		&.search-form {
			.d-row {
				.left-col {
					display:block;
					float:left;
					width:auto;
					min-width:120px;
					margin:0px 5px 0px 0px;
				}
				.right-col{
					display:block;
					width:auto;

		

					.txt-input.width-35 {
						width:175px;
					}
				}
			}

		}
	}
}
/*End*/
