// --------------------------------------------------
// Application grid component
// --------------------------------------------------

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	color: $primary_blue_dark !important;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
	color: $primary_blue_dark !important;
}

.ui-widget-content a {
    color: #697E9E;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
    color: #697E9E;
}

.custom-grid{
	margin: 0px 5px;

	i.active {
		color:$status_active;
	}

	i.critical {
		color:$status_critical;
	}

	i.concern {
		color:$status_concern;
	}

	i.warning {
		color:$status_warning;
	}

	i.normal {
		color:$status_grey;
	}

	.ui-widget-header {
	    /*border-style:none;
	    background:url(../assets/images/icon_sprite.png) #dfdfdf repeat-x 0 -275px;
	    font-family: arial;
	    font-size:9pt;
	    color:#545454;
	    border:1px solid #d3d3d3;*/
	    display: none;

	    .dataTables_length select{
   	 		width:auto;
		}

		.dataTables_filter select{
    		width:150px;
		}
	}

	/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	    border: 1px solid #666666;
	    background: #a9a9a9 url(images/ui-bg_glass_60_e9e9e9_1x400.png) 50% 50% repeat-x;
	    font-weight: bold;
	    font-size: 13px;
	    color: #333;
	    font-family: Arial;
	}*/

	.ui-widget-content th.ui-state-default {  
		//border-style:none;
	}

	.ui-widget-content{
		border: 1px solid $secondary_blue_light;
		background-image:none;
		background-color:#ffffff00;
		color:$primary_blue_dark;
		border-style: none;
	}

	td.jqgrid-rownum {
		color: $dark_blue_variant2;
		border-left:2px solid #616161;
		vertical-align: middle;
	}

	tr.jqgrow td {
		vertical-align: middle;
	}

	.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, td.action-col a {
		color:$primary_blue_light;
		font-size:1.2em;
		margin:0px 3px;

		&:hover {
			color:$accent_yellow;
		}	
	}

	.ui-state-default th.thAction .ui-icon, th.no_sorting .ui-icon {
    	display: none;
	}

	.ui-jqgrid-pager {
		background: $secondary_blue_light;
    	border: 0px;
    	color: $white;
    	border-radius: 0;

    	.ui-pg-table td {
    		color: $dark_blue_variant2;
    	}
	}

	.ui-paging-info{
		margin-top:6px;
	}

	tr.ui-state-highlight {
		background: $secondary_blue_light;

		.action-col a:hover{
			color:$primary_blue_dark ;
		}
	}

	.ui-jqgrid-hbox {
		overflow:hidden;
	}

	.dataTables_scrollHead .ui-state-default,  thead th.ui-state-default {
	    background:$secondary_blue_light;
	    font-weight:bold;
	    color:$primary_blue_dark;
	    font-size: 9pt;
	    font-family:arial;
	    height: 15px;
	    vertical-align: middle;
	    padding: 8px 4px 0px 0px;
            font-weight: 200;
	}

	table tr.odd td, table tr.odd td.sorting_1 {
	    background-color:#fbfbfb;  
	    color:#3f3f3f;
	    font-size: 8pt;
	    font-family:arial;
	    vertical-align: middle;
	    padding-top:2px;
	} 
        
        .ui-state-default, .ui-widget-content .ui-state-default {
            border: 0.5px solid $secondary_blue_light;
            border-right: 1px solid $white;
        }

	table tr.even td, table tr.even td.sorting_1 {
	    background-color:#f9e5e6;  
	    color:#3f3f3f;
	    font-size: 8pt;
	    font-family:arial;
	    vertical-align: middle;
	    padding-top:2px;
	}

	table tr.odd:hover td, table tr.even:hover td {
	    background-color:#ebebeb;  
	    color:#222;
	}

	table tr td.no_action_col {
	    padding:4px 10px 4px 10px;
	}

	.ui-widget-header .dataTables_paginate .ui-state-default {
	    background:none;
	    border-style: none;
	}

	.dataTables_paginate span.ui-button {
	    color:#545454;
	    text-decoration: underline !important;
	    font-family:arial;
	    font-size:9pt;  
	}

	.dataTables_paginate .ui-button:hover {
	    color:#d02b31;
	    text-decoration: none !important;
	}

	.dataTables_paginate .ui-state-disabled:hover {
	    color:#545454;
	}

	table tr.odd td.dataTables_empty{
	    font-size:10pt;
	    padding: 10px; 
	    color:#999;
	}

	tbody {
		.ui-state-default, .ui-widget-content .ui-state-default { 
			background-image:none; 
			background-color:transparent;
		}
	}


	//Fix for fixed column
	.frozen-div.ui-state-default{
		top:39px !important;
		height: 24px !important;
    	overflow: hidden;

    	thead{
    		th {
    			border-bottom-style:none !important;

    			&:last-child{
    				border-right-style:none !important;
    			}
    		}
    		
    	}
	}

	.frozen-bdiv.ui-jqgrid-bdiv{
		top:64px !important;
		/*background:#3a3a3a !important;*/

		tr {
			td:last-child{
    			border-right-style:none !important;
    		}
		}
	}
        
        .ui-jqgrid .loading {
            background: $primary_blue_dark;
            border: 1px solid $primary_blue_dark;
        }
        
        #gridtable_frozen{
            background: white;
        }
                

}
//End