
// --------------------------------------------------
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.


	//Shades of blue
	$primary_master_light_blue		:#32a9c5;
	$primary_master_light_blue1		:#12b2d8;
	$primary_master_light_blue2		:#139cbc;
	$primary_master_light_blue3		:#005265;
        
        

	//Shades of silver
	$primary_master_light_silver0	:#7e7e7e;
	$primary_master_light_silver1	:#acacac;
	$primary_master_light_silver2	:#626262;
	$primary_master_light_silver4	:#4b4b4a;
	$primary_master_light_silver5	:#60605f;
	$primary_master_light_silver6	:#d9d9d9;
	$primary_master_light_silver7	:#282828;
	$primary_master_light_silver8	:#d7d7d7;
	$primary_master_light_silver9	:#333333;
	$primary_master_light_silver10	:#3a3a3a;
	$primary_master_light_silver11	:#909090;
	$primary_master_light_silver12	:#535454;
	$primary_master_light_silver13	:#373838;
	$primary_master_light_silver14	:#bfbfbf;
	$primary_master_light_silver15	:#2c2c2c;
	$primary_master_light_silver16	:#e3e2e2;

//End

//NEW COLORS
        $primary_blue_dark         :#1F304A;
        $primary_blue_light        :#697E9E;
        
        $secondary_blue_dark       :#B9C4D4;
        $secondary_blue_light      :#DEE4EC;
        
        $dark_blue_variant1        :#38506D;
        $dark_blue_variant2        :#2F425E;
        
        /*$accent_blue               :#34A9C5;*/  
        $accent_blue               :#DB7F05; 
        $accent_blue_light         :#6be2ff;
        
        $accent_yellow               :#DB7F05;    
        $accent_yellow_light         :#FFA32A;
        
        
        
        $background_color          :#FCFCFC;




//----------------------------------------------------
//Basic colors
//----------------------------------------------------
	$black	:#000000;
	$white	:#ffffff;
//End




//----------------------------------------------------
//Messasing colors
//----------------------------------------------------
	$error_msg_red		:#d9534f;
	$form_error_red		:#753836;
	$form_error_icon	:#FF0000;
	$form_success_green	:#43643a;
	$form_success_icon	:#087400;
	$required_red		:#ff0101;
	$success_msg_green	:#5cb85c;
//End

//----------------------------------------------------
//Status color
//----------------------------------------------------
	$status_active		:#16a00c;
	$status_critical	:#d90000;
	$status_grey		:#c8c8c8;
	$status_warning		:#d99900;
	$status_concern		:#dcde1c;
//End