// --------------------------------------------------
// Application footer
// --------------------------------------------------

footer {
	width:100%;
	position:fixed;
	bottom:0;
	text-align:center;
	padding:7px 0px;
	background: linear-gradient(180deg, rgba(222, 228, 236, 0) 0%, rgba(222, 228, 236, 0.6) 100%);
	font-family:arial;
	font-size:0.7em;
	color:$primary_blue_dark;

	a {
		color:$primary_blue_dark;
		font-family:arial;
		text-decoration:underline;	

		&:hover{
			color:$primary_blue_light;
			text-decoration:none;
		}			
	}
}
//End