// --------------------------------------------------
// Application dashboard
// --------------------------------------------------
&.dashboard{
	overflow:hidden;
	h1.page-title{
		font-family:arial;
		font-size:1.25em;
		color:$primary_blue_dark;
		font-weight:bold;
	    width: 100%;
	    float: left;
	    margin: 8px 0px 4px 8px;
	    font-weight: 100;
	}

	.d-col{
		@include transition(0.5s);
		width:calc(50% - 12px);
		height:calc(50% - 34px);
		margin:6px;
		float:left;

		.d-col-title {
			width:100%;
			margin:6px 0px;
			color:$primary_blue_dark;
			font-size:0.7em;
			text-transform:uppercase;
			float:left;	
			font-weight:100;
			font-family:arial;

			div {
				display:inline-block;
				width:20;
				float:right;
				text-align:right;
				text-transform:capitalize;
				position:relative;

				a {
					color:$primary_master_light_silver8;
					text-decoration:none;

					&:hover {
						color:$primary_master_light_blue;
					}
				}

				div.rangepopup{
					display:none;
					position: absolute;
					z-index:100;
			    	right: -1px;
			    	top: 18px;
			    	min-height:40px;
			    	min-width:250px;
			    	background:$primary_master_light_silver7;
			    	border:1px solid $primary_master_light_silver4;
			    	padding:5px 10px;
			    	box-shadow: -2px 2px 5px $primary_master_light_silver4;

			    	label {
			    		display:block;
			    		width:15%;
			    		margin:6px;
			    		float:left;
			    	}

			    	input[type='text']{
			    		width:55%;
			    		padding:5px 10px;
			    		margin:3px 6px;
			    		display:block;
			    		float:left;
			    		outline:none;
			    		border:1px solid $primary_master_light_silver2;
			    		background:$primary_master_light_silver10;
			    		color:$white;
			    		font-family:arial;
			    		font-size:0.9em;
			    	}

			    	.error-msg {
			    		width:100%;
			    		float:left;
			    		margin:5px 0px;
			    		color:$error_msg_red;
			    		text-align:left;
			    	}

			    	button{
			    		font-family:arial;
			    		font-size:0.9em;
			    		border:1px solid $primary_master_light_blue1;
			    		padding:5px 10px;
			    		background:$primary_master_light_blue1;
			    		color:$white;
			    		float:left;
			    		margin:6px;
			    		text-transform:uppercase;
			    		outline:none;

			    		&:hover{
			    			color:$primary_master_light_blue1;
			    			background:$primary_master_light_silver10;
			    		}

			    		/*&:focus{
			    			background:$primary_master_light_silver4;
			    			border:1px solid $primary_master_light_silver5;
			    			margin:7px 5px 5px 7px;
			    		}*/
			    	}
				}
			}
		}

		.d-col-widget {
			@include transition(0.3s);
			border:1px solid $secondary_blue_light;
			background:$white;
			width:100%;
			height:calc(100% - 20px);
			float:left;
			position:relative;
                        border-radius:4px;

			a.maxmin{
                            display: inline-block;
                            font-family: arial;
                            font-size: 0.9em;
                            color: $primary_blue_dark;
                            position: absolute;
                            right: 2px;
                            top: 3px;
                            border: 1px solid $primary_blue_dark;
                            padding: 3px;
                            border-radius: 5px;
                            text-decoration: none;
                            background: $white;
                            z-index: 2;

    			&:hover{
    				color:$primary_blue_dark;
    				background:$secondary_blue_light;
    			}
			}
		}
                
                @import "darknight_grid.scss";


			.custom-grid{
				margin:10px 10px 10px 10px !important;
                                
				.ui-widget-content{
					border-left:1px solid $secondary_blue_light !important;
					border-radius:0 !important;
				}
			}

			svg { 
				width: 100% !important;
				height: 100% !important;
			}
	}
}
/*End*/
