// --------------------------------------------------
// Application left menu
// --------------------------------------------------
.left-nav{
	width:250px;
	height:100%;
	overflow:auto;
	float:left;
	overflow-y:auto;
	overflow-x:hidden;
        color:$primary_blue_dark;

	.navigation {
		display:block;
		margin:10px 5px;
		padding:0;
		list-style:none;
		font-family:arial;

		li {
			margin:3px 0px;
			@include transition(0.3s);
			padding:6px 0 6px 0;
			border-bottom:1px solid $primary_blue_dark;


			a {
				@include transition(0.3s);
				padding:5px 0px;
				text-decoration:none;
				color:$primary_blue_dark;
				display:inline-block;
				display:block;
				font-size:0.85em;

				&:hover{
					background:$secondary_blue_light ;
					color:$primary_blue_dark;

					i{
						padding:0 2px 0 8px;
					}
				}

				i{
					@include transition(0.3s);
					padding:0px 5px;
                                        font-size: 0.75em;
				}
			}

			.sub-nav {
				margin:0px;
				list-style:none;
				display:none;

				li{
					margin:0px 0px 0px 25px;
					padding:0px;
					list-style:none;
					border-bottom:1px dotted $primary_blue_dark;
                                        
                                    

					&:last-child{
						border-style:none;
					}

					.menuselect{
						background:$secondary_blue_light;
						color:$primary_blue_dark;
                                                border-style: none;
					}

					a {
						display:block;
						padding:5px 0px 5px 0px;
						font-weight:100;
						font-size:0.7em;

						&:hover{
							background:$secondary_blue_light ;
							color:$primary_blue_dark;
                                                        border-bottom:1px dotted $primary_blue_dark;
						}
                                                
                                                i{
					
                                        font-size: 1em;
				}
					}
				}
			}
		}
	}
}
//End