@font-face {
    font-family: roboto;
    src: url(font/Roboto-Thin.woff);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto-Light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: roboto;
    src: url(font/Roboto-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto-Bold.woff);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: rosario;
    src: url(font/rosario-regular.woff);
    font-weight: 400;
    font-style: normal;
}

