@import 'font.css';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-bg {
    position: absolute;
    top:0px; 
    bottom :0px;
    left :0px;
    right:0px; 
    background-image: url(image/login_bg.png);
    background-size: cover;
    z-index: 0;
}

.intro-wrapper{
    position: relative;
    display: block;
    float: left;
    top: 20%;
    left: 10%;

}

.intro{
    display: inline-block;
    width: 400px;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.3);
    padding: 24px 36px 32px 16px;
    font-family: rosario;
    font-weight: 400;
    color: white;
}

.intro .top-section{
    font-size: 48px;
    color:#FFA32A; 
}

.intro .quotes{
    font-size: 48px;
    color:white;
    line-height: 0px;
}

.intro .highlight{
    color:#FFA32A;
    font-size: 20px
}

.intro .bottom-section i{
    text-decoration: none;
    color:#FFA32A;
}

.intro .bottom-section div{
    display: inline-block;
    float: left;
    margin-left: 64px;
    margin-right: 16px;
    height: 76px;
    width: 5px;
    background:#FFA32A; 
}

.bottom-section P{
    font-size: 20px;
}

.login-white-fg {
    display:block;
    height: 100%;
    width:50%;
    float: right;
}

.white-square{
    display: block;
    height: 100%;
    width: 60%;
    float: right;
    background: white;
}
.white-trangle{
    display: block;
    position: relative;
    right: -2px;
    height: 100%;
    width: 40%;
    float: right;
    background: url(image/login_white_fg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#login-form{
    position: relative;
    left: 2px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 70%;
    text-align: center;

} 

.form-row{
    margin-bottom:20px;
}

.form-row img{
    display: inline-block;
    float: left;
    height: 20px;
    margin: 8px 16px 8px 16px;  
}

.input-wrapper span{
    display: inline-block;
    float: left;
    width: 1px;
    height: 24px;
    margin: 6px 0px;
    background: #B9C4D4;
}

.input-wrapper{
    height: 36px;
    max-width: 300px;
    margin: auto;
    border: 1px solid #1F304A;
    border-radius: 18px;
}

.input-wrapper input{
    display: block;
    width: calc(100% - 53px);
    border: none;
    outline: none;
    background: none;
    color: #1F304A;
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    padding: 0px 2px;
    border-radius: 0px 18px 18px 0px;
}

.input-wrapper input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #697E9E;
    opacity: 1; /* Firefox */
}

.input-wrapper input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #697E9E;
}

.input-wrapper input::-ms-input-placeholder { /* Microsoft Edge */
    color: #697E9E;
}

.logo{
    width: 250px;
    height: auto;
    margin-bottom:96px; 
}

.button-wrapper{
    max-width: 300px;
    margin: auto;
    text-align: end;

}

.button-wrapper .button{
    height: 32px;
    width: 94px;
    border-radius: 16px;
    background: #1F304A;
    border: none;
    padding: 0px 12px 0px 16px; 
    color:#DEE4EC;
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 32px;
    cursor: pointer;
}

.button-wrapper:hover img{
    animation-name: arrow-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes arrow-move {
    0%   {margin: 12px 18px 12px 0px; opacity:0;}
    20%   {margin: 12px 16px 12px 0px; opacity:1;}
    80%  {margin: 12px 0px 12px 0px; opacity:1;}
    100% {margin: 12px -2px 12px 0px; opacity:0;}

}

.button-wrapper img{
    display: inline-block;
    float: right;
    height: 8px;
    margin: 12px 0px 12px 0px;

}

.message-panel span{
    color:#FE4040;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
}

.footer-description{
    position: absolute;
    font-family: roboto;
    font-size: 10px;
    font-weight: 400;
    color: #697E9E;
    bottom: 8px;
    right: 8px;
}


@media only screen and (max-width: 550px) {

}


@media only screen and (min-width: 0px) and (max-width: 399px){
    .login-bg {
        background-image: none;
        background-size: auto;
        min-width:0px;
        min-height:0px;
    }

    .intro-wrapper{
        display: none;
    }

    .login-white-fg {
        width:100%;
    }

    .white-square{
        width: 100%;
    }
    .white-trangle{
        display: none;
    }

    #login-form{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;

    } 

    .logo{
        width: 220px;
    }

    .input-wrapper{
        max-width: 260px;
    }

    .button-wrapper{
        max-width: 260px;
    }

    .footer-description{
        font-size: 9px;
        width: 100%;
        text-align: center;
        right: auto;
    }
}


@media only screen and (min-width: 400px) and (max-width: 950px){ 
    .login-bg {
        background-image: none;
        background-size: auto;
        min-width:0px;
        min-height:0px;
    }

    .intro-wrapper{
        display: none;
    }

    .login-white-fg {
        width:100%;
    }

    .white-square{
        width: 100%;
    }
    .white-trangle{
        display: none;
    }

    #login-form{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        text-align: center;

    } 

    .footer-description{
        font-size: 9px;
    }
}


@media only screen and (min-width: 951px) and (max-width: 1200px){ 
    .intro-wrapper{
        left: 5%;
    }
    .intro{
        width: 336px;
    }
    .intro .top-section{
        font-size: 36px;
    }

    .intro .quotes{
        font-size: 36px;
    }

    .intro .highlight{
        font-size: 16px
    }

    .bottom-section P{
        font-size: 16px;
    }

    .intro .bottom-section div {
        margin-left: 64px;
        margin-right: 12px;
        margin-top: 8px;
        height: 48px;
        width: 4px;
    }

    .login-white-fg {
        width:57%;
        min-width: 0px;
    }
    .white-trangle{
        width: 40%;
    } 

    .footer-description{
        font-size: 9px;
    }

}
